structure.xml

<?xml version = "1.0" encoding="UTF-8" standalone="yes" ?>
<xsd:schema xmlns:xsd="http://www.w3/org/2001/XMLSchema">
	
	<xsd:element name="annuaire">
		<xsd:complexType>
		<xsd:sequence>

			<xsd:element name="catégorie">
				<xsd:complexType>
				<xsd:sequence>

					<xsd:attribute name="titre" type="xsd:string">
					<xsd:element name="annonce">
						<xsd:complexType>
						<xsd:sequence>		
					
							<xsd:element name="nom" type="xsd:string">
							<xsd:element name="adresse">
								<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="numero" type="xsd:int"></xsd:element>
									<xsd:element name="rue" type="xsd:string"></xsd:element>
									<xsd:element name="ville" type="xsd:string"></xsd:element>
									<xsd:element name="cp" type="xsd:int"></xsd:element>
								</xsdsequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="telephone" type="xsd:int">

						</xsd:sequence>
						</xsd:complexType>
					</xsd:element>									

				</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>

Arbre
<annuaire>
	<catégorie titre="médecin">
		<annonce >
			<nom>titre</nom>
			<adresse>
				<rue></rue>
				<ville></ville>
				<cp></cp>
			</adresse>
			<telephone>
				0606060606
			</telephone>
		</annonce>
	</catégorie>
	...
</annuaire>